
// Fonts
@import url("https://fonts.googleapis.com/css?family=Raleway:300,400,600");

// Variables
@import "variables";

// Bootstrap
@import '~bootstrap/scss/bootstrap';

.navbar-laravel {
  background-color: #fff;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.04);
}

html {
  font-size: 62.5%;
}

p {
  font-size: 1.2rem;
}

.v-btn {
  text-transform: none !important;
}

.v-navigation-drawer {
  i {
    width: 30px;
  }
}

.v-content {
  margin-bottom: 24px;
 
  .header {
    background-image: url('../images/header.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    width: 100%;
    height: 250px;
    position: relative;
    z-index: 0;

    &::before {
      content: '';
      filter: blur(5px);
      background: inherit;
      position: absolute;
      top: -5px;
      bottom: -5px;
      left: -5px;
      right: -5px;
      z-index: -1;
    }

    h1 {
      text-shadow: 1px 1px 2px rgba(0,0,0,0.2);
    }
  }

  .skills {
    .layout {
      border-bottom: 1px solid #ccc;
      padding: 10px 0;
    }
  }

  .projects {
    .content {
      height: 200px;

      h4 {
        font-size: 1.0rem;
        font-weight: normal;

        span + span::before {
          content: "/";
          margin: 0 1px;
        }
      }

      p {
        font-size: 1.1rem;
      }
    }
  }

  .contact {
    .github {
      i {
        color: #000;
      }
    }
  
    .twitter {
      margin-left: 5px;
  
      i {
        color: #55acee;
      }
    }

    form {
      text-align: center;
    }
  }
}
